// font-weight helper:

// 100 Extra Light or Ultra Light;
// 200 Light or Thin; 300 Book or Demi;
// 400 Regular or Normal;
// 500 Medium;
// 600 Semibold or Demibold;
// 700 Bold;
// 800 Black or Extra Bold or Heavy;
// 900 Extra Black or Fat or Ultra Black

$font-regular: "Circe-Regular", serif
$font-bold: "Circe-Bold", serif
$font-karuel: "Karusel", serif
$font-NaoRegular: "NeoSans-Regular", sans-serif
$font-NaoBold: "NeoSans-Bold", sans-serif


@mixin font($f-name, $f-style, $f-weight, $f-url)
	@font-face
		font-family: $f-name
		font-style: $f-style
		font-weight: $f-weight
		src: url($f-url) format('woff2')


@include font('Circe-Regular', normal, 400, '../fonts/Circe-Regular.woff2')
@include font('Circe-Bold', normal, 700, '../fonts/Circe-Bold.woff2')
@include font('Karusel', normal, 700, '../fonts/Karusel.woff2')
@include font('NeoSans-Regular', normal, 400, '../fonts/NeoSans.woff2')
@include font('NeoSans-Bold', normal, 700, '../fonts/NeoSans.woff2')
