@import vars
@import fonts
@import libs

::placeholder
	color: #999999

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $font-NaoRegular
	overflow-x: hidden
	color: $text

// Custom Sass / Remove before use
    
object
	display: none

a
	color: $text

	&:hover
		outline: none
		text-decoration: none
		color: #ffffff

ul, nav
	margin: 0
	padding: 0
	list-style: none
img, svg
	width: 100%

.menu-mobile
	display: none

.icon-svg-nav
	width: 22px
	left: 20px
	fill: $accent
	height: 25px
	z-index: 100

.page__wrapper
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	justify-content: space-between
	min-height: 100vh
	width: 100%
	overflow: hidden

.container
	max-width: 1016px
	width: 100%
	padding: 0 15px 
	margin: auto
	position: relative

.row
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	margin: 0 -15px
	align-items: center
	justify-content: space-between
	flex-wrap: wrap

.accent
	color: $accent

.uppercase
	text-transform: uppercase

.button	
	text-transform: uppercase
	color: $color-link
	transition: all 0.3s
	border: 2px solid #ffffff
	padding: 8px 25px
	border-radius: 5px
	font-family: $font-NaoBold
	font-size: 14px
	font-weight: 700

	&:hover
		background: $accent
		transition: all 0.3s
		border: 1px solid transparent
		color: $color-link

	&__active
		background: $accent
		padding: 8px 50px
		border: 1px solid transparent
		transition: all 0.3s

		&:hover
			transition: all 0.3s

.page__header
	background: $bg
	margin-top: 60px

.header
	&__top
		min-height: 70px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-between
		align-items: center
	&__nav
		max-width: 500px
		width: 100%
	
	&__auth
		max-width: 480px
		width: 100%

.nav
	&__list
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		width: 100%
		justify-content: space-around
		align-items: center

	&__link
		color: $color-link
		font-family: $font-NaoRegular
		font-size: 18px
		white-space: nowrap

.auth
	&__list
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		width: 100%
		justify-content: space-around
		align-items: center

.b-promotion
	min-height: 880px	
	height: calc(100vh - 130px)
	background: url(../img/bg-bottom.png)
	background-size: inherit
	background-position: center bottom
	background-repeat: no-repeat
	width: 100%

	&__logo
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		justify-content: space-around
		min-height: 100px

	&__text
		text-align: center
		font-family: $font-karuel
		font-size: 36px
		color: $text

.logo
	&__left
		max-width: 200px

	&__right
		max-width: 240px

.group-slider
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex	
	justify-content: space-around
	align-items: center

	&__wrap
		width: 50%
		margin-top: 50px

		&-left
			max-width: 460px	

			.slider__item
				height: 390px	
.slider
	&__item
			height: 425px

	&__img
		width: auto
		margin: auto
		height: 100%	
		max-width: 100%
		object-fit: contain

	&__header
		color: $text
		font-size: 24px
		font-family: $font-NaoBold
		font-weight:  700
		color: $text
		text-transform: uppercase
		text-align: right
		width: 100%
		display: inline-block
		padding-right: 35px

		&-title
			font-size: 80px
			font-family: $font-NaoBold
			font-weight:  700
			color: $text
			line-height: 1.25em
			text-transform: uppercase
			display: inline-block
			text-align: right
			width: 100%
	&__footer

		&-link
			background: $accent
			border-radius: 20px
			color: #ffffff
			font-family: $font-karuel
			font-size: 38px
			text-transform: uppercase
			display: inline-block
			text-align: center
			padding: 0 15px

		&-text
			font-size: 20px
			font-family: $font-NaoRegular
			color: #ffffff
			text-transform: uppercase
			text-align: left
			margin-left: 18px
			display: block
			letter-spacing: -1px

.batteries-slider__footer
	padding-top: 30px

.b-win
	min-height: 760px	
	background: url(../img/bg-top.png) 30%
	background-size: inherit
	background-position: center top
	background-repeat: no-repeat
	width: 100%

	&__title, 
		width: 100%
		padding-top: 70px	
		display: block	
		text-align: center
		font-family: $font-karuel
		font-size: 36px
		text-transform: uppercase

	&__bottom
		text-align: center

	&__link
		font-size: 24px	
		font-family: $font-NaoBold
		font-weight: 700
		display: block	
		line-height: 1em		
.list
	&__step
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-around
		align-items: center

		&_wrap
			width: 100%
			padding: 120px	0

.step__item
	text-align: center
	position: relative
	&:nth-child(2)

		&:before
			content: ">"
			position: absolute
			left: -60px		
			top: 30px		
			color: $text
			font-size: 80px	
			font-weight: 700
			font-family: $font-regular

		&:after
			content: ">"
			position: absolute
			right: -60px		
			top: 30px		
			color: $text
			font-size: 80px	
			font-weight: 700
			font-family: $font-regular		

.link-check
	background: $accent
	border-radius: 15px
	color: #ffffff
	font-family: $font-karuel
	font-size: 27px
	text-transform: uppercase
	display: inline-block
	text-align: center
	padding: 12px 10px

.step__text
	text-align: center
	font-size: 28px
	line-height: 1em
	font-family: $font-karuel
	height: 120px	
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex	
	align-items: center
	margin-top: 20px	

.b-winners

	&__list_wrap
		width: 100%
		padding-bottom: 10px	

	&__title
		width: 100%
		padding-top: 70px	
		display: block	
		text-align: center
		font-family: $font-karuel
		font-size: 36px
		text-transform: uppercase

	&__item
		display: flex
		padding: 0 35px
		min-height: 68px	
		margin-bottom: 20px
		justify-content: start
		align-items: center
		font-size: 30px
		font-family: $font-NaoRegular
		background: -moz-linear-gradient(left,  rgba(77,136,58,0.3) 0%, rgba(247,225,53,0.3) 100%)
		background: -webkit-linear-gradient(left,  rgba(77,136,58,0.3) 0%,rgba(247,225,53,0.3) 100%)
		background: linear-gradient(to right,  rgba(77,136,58,0.3) 0%,rgba(247,225,53,0.3) 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4d883a', endColorstr='#4df7e135',GradientType=1 )
		text-align: left

	&__data
		width: 20%

	&__tel
		width: 35%

.page__footer
	background: $bg
	min-height: 240px

.footer
	&__col
		flex-direction: column

	&__nav
		width: 100%

		&__list
			justify-content: start
			min-height: 60px
			align-items: center


		.nav__item
			margin: 0 20px
			&:first-child
				margin-left: 0

	&-info
		width: 100%

		&__list
			display: flex
			width: 100%
			justify-content: space-between
			margin-left: auto
			height: 131px
			align-items: center

	&__copyright
		text-align: left

.social
	&__list
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-around
		max-width: 280px	
		margin: auto

	&__item
		margin: 0 15px	

	&__link
		background: #ffffff
		width: 44px
		height: 44px
		display: block
		border-radius: 50%
		text-align: center
		position: relative

	&__icon
		fill: $text
		position: absolute
		left: 0	
		right: 0
		top: 0	
		bottom: 0	
		margin: auto
		max-width: 32px
		height: 24px

.copyright__link
		color: $color-link
		font-family: $font-NaoRegular
		font-size: 13px
		letter-spacing: -0.5px

.b-account
	min-height: 760px	
	background: url(../img/bg-account.png)
	background-size: inherit
	background-position: center 100px	
	background-repeat: no-repeat
	width: 100%

	&__title
		text-align: center
		font-family: $font-karuel
		font-size: 36px
		color: $text

.check__item 
	width: 100%
	display: flex
	justify-content: space-between
	padding: 0 50px
	margin: 20px 0 
	&:first-child
		margin-bottom: 40px

.b-faq
	&__title
		text-align: center
		font-family: $font-NaoRegular
		font-size: 30px
		color: $text
		text-transform: uppercase

.b-poup__window
	max-width: 460px
	width: 100%
	margin: auto
	display: block
	background: #ffffff
	border-radius: 20px
	padding: 30px
	border-radius: 20px
	top: 0
	bottom: 0
	position: absolute
	left: 0
	right: 0
	max-height: 820px


.b-poup__group-control 
	flex-direction: column
	display: flex

.b-poup__title
	color: #000000
	font-size: 18px
	font-family: $font-regular
	text-transform: uppercase
	display: block
	text-align: center
	margin-bottom: 10px

.b-poup__text
	color: #999999
	font-size: 15px
	font-family: $font-regular
	margin-bottom: 10px	

.form-contol
	margin-bottom: 20px
	text-align: center
	border-radius: 20px
	border: 1px solid #a1a1a1
	height: 36px
	color: #999999
	font-size: 18px
	font-family: $font-regular
	padding: 0 10px

.form-contol__check	
	height: 25px
	vertical-align: middle
	margin: auto
	display: inline-block
	float: left
	color: #999999

	&+label
		display: inline-block
		margin-bottom: .5rem
		display: inline-block
		float: left
		width: 90%
		margin-left: 10px
		color: #999999
		font-size: 18px
		font-family: $font-regular

	&-inline+label
		width: 50%

.form-contol__link
	color: #000000
	font-size: 18px
	font-family: $font-regular
	text-align: center
	margin: 10px auto 20px
	display: block

.submit
	margin: auto
	width: 100%
	text-align: center
	display: block
	background: $accent
	border-radius: 20px
	color: #fff
	height: 36px
	border: none

.b-poup
	&__registration
		display: none

	&__auth 
		display: none
		height: 360px
		overflow: hidden

	&__confirmation
		display: none
		height: 300px
		overflow: hidden


		.b-poup__text
			margin-bottom: 40px	
	&__upload-check
		display: none
		max-height: 990px

	&__feedback
		display: none
		height: 580px
		overflow: hidden

.form-contol__link-right
	float: right

.requirement__list
	margin: 0
	padding: 0
	margin-left: 11px
	line-height: 1.25em

.example-check
	&__wrap
		height: 360px
		margin: 20px 0	

	&__img
		width: auto
		height: 100%
		margin: auto
		display: block

.form-contol__message
	height: 185px	
	text-align: left

.b-poup__wins
	display: none

.b-poup__window.b-poup__wins
	background: transparent  
	max-width: 1215px
	max-height: initial

.wins__img
	max-width: 500px
	margin: 0 auto 21px
.wins__bottom-title
	color: #ffffff
	font-family: $font-bold
	font-size: 65px
	text-transform: uppercase
	letter-spacing: -2px
	line-height: 0.85em
	margin-bottom: 30px

	span
		font-size: 0.63em

.small__subtitle
	color: #ffffff
	font-family: $font-bold
	font-size: 30px
	letter-spacing: -1px

@media only screen and (max-width: 991px)

	.slider__header-title
		font-size: 60px

	.b-winners__item
		font-size: 20px	

@media only screen and (max-width: 768px)
	.page__header
		margin-top: 0

	.menu-mobile
		display: block

	.header__nav
		position: absolute
		top: 70px
		background: #00883a
		width: 100%
		left: 0
		max-width: 100%
		z-index: 100
		padding-bottom: 10px

	.nav__list
		flex-wrap: wrap

	.group-slider
		flex-wrap: wrap

	.group-slider__wrap
		width: 100%
		margin-top: 0

	.slider__footer-link
		font-size: 30px

	.b-promotion
		height: auto
		padding-bottom: 30px

	.header__nav
		display: none

	.step__link
		width: 50%
		display: block
		margin: auto

	.b-win
		min-height: 670px

	.step__item:nth-child(2):before
		font-size: 50px
		left: -10px	
		top: 50%
		margin-top: -40px
		display: block
		height: 40px

	.list__step_wrap
		padding: 60px 0

	.step__item:nth-child(2):after
		font-size: 50px
		right: -10px	
		top: 50%
		margin-top: -40px
		display: block
		height: 40px	

	.step__text, .link-check
		display: none

	.b-winners__item 
		flex-wrap: wrap
		justify-content: center
		text-align: center

		span 
			width: 100%!important	

	.footer__nav__list, .footer-info__list
		flex-wrap: wrap 
		margin-top: 30px	

	li.nav__item, .footer-info__item
		width: 100%
		text-align: center
		margin: 0!important

	.logo__left, .logo__right
		margin: 0 auto 20px
		padding: 0 10px

	.copyright__link
		margin-top: 60px
		text-align: center	

@media only screen and (max-width: 480px)

	.b-promotion__text
		font-size: 30px

	.button__active
		padding: 8px 25px

	.check__item
		padding: 0